/*@font-face*/
@font-face{
  /* font-family: "Bitstream Vera Serif Bold";
    src: url("https://mdn.mozillademos.org/files/2468/VeraSeBd.ttf");
    */

     font-family: "Roboto";
     src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
